.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: right;
}

.splashPage {
  width: 100vw;
  height: 100vh;
}

.fps {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
}

.score {
  position: absolute;
  top: 50vh;
  left: 50vw;
  color: white;
  font-size: 50px;
}

#mainCanvas {
  -webkit-transform: translateZ(1.0);
  transform: translateZ(1.0);
}
